.btn {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.8rem 3rem;
  color: $color-grey-light-1;
  background-color: $color-primary-dark;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
  }


  &--nostretch{
    place-self: start;
  }

  &--center{
    justify-self: start;
  }

  &--span2{
    grid-column: 1/3;
    justify-self: stretch;
  }

  &--footer{
    &:link,
    &:visited{
      text-decoration: none;
      color: $color-grey-light-1;
      display: inline-block;
    }

    padding: 1rem 4rem;
    text-transform: uppercase;
    transition: .2s;

    &:hover,
    &:active{
      transform: translateY(-1rem);
      background-color: rgba(white, .1);
    }

  }
}
