.gallery {
  background-color: beige;
  grid-column: sb-end / full-end;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;

  @include respond(big-tab-port) {
    grid-column: full-start / -1;
  }
   @include respond(phone) {
    gap: 1rem;
    padding: 1rem;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  &__1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  &__2 {
    grid-column: 3 / 6;
    grid-row: 1 / 4;
  }

  &__3 {
    grid-column: 6 / 7;
    grid-row: 1 / 3;
  }

  &__4 {
    grid-column: 7 / -1;
    grid-row: 1 / 3;
  }

  &__5 {
    grid-column: 1 / 3;
    grid-row: 3 / 6;
  }

  &__6 {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
  }

  &__7 {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
  }

  &__8 {
    grid-column: 6 / 8;
    grid-row: 3 / 5;
  }

  &__9 {
    grid-column: 8 / -1;
    grid-row: 3 / 6;
  }

  &__10 {
    grid-column: 1 / 2;
    grid-row: 6 / -1;
  }

  &__11 {
    grid-column: 2 / 4;
    grid-row: 6 / -1;
  }

  &__12 {
    grid-column: 4 / 5;
    grid-row: 6 / -1;
  }

  &__13 {
    grid-column: 5 / 8;
    grid-row: 5 /-1;
  }

  &__14 {
    grid-column: 8 / -1;
    grid-row: 6 / -1;
  }
}
