.home {
  margin: 15rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, min-content));
  gap: 8rem;
  justify-content: center;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;
    justify-items: center;
    row-gap: 3.5rem;
    background-color: $color-grey-light-1;
  }

  &__name {
    background-color: $color-secondary;
    color: $color-grey-light-1;
    padding: 1.25rem;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    width: 80%;
    //justify-self: center;
    transform: translateY(-5rem);
  }
  &__gallery {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  &__img {
    height: auto;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  &__location {
    grid-column: 1/2;
  }
  &__rooms {
    grid-column: 2/3;
  }

  &__location,
  &__rooms {
    padding: 1.5rem 0;
    grid-row: 2/3;
  }
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(4, min-content);
  grid-template-columns:
    [sb-start] 8rem [sb-end full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr[full-end];

  @include respond(big-tab-port) {
    // width < 1200?
    grid-template-rows: 8rem calc(100vh - 6rem) min-content min-content min-content 50vw  ;
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)  [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @include respond(phone) {
    grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content ;
    grid-template-columns:
      [full-start] minmax(4rem, 1fr)  [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(4rem, 1fr) [full-end];
  }
}


