@mixin respond($breakpoint) {
  @if $breakpoint == "big-desk" {
    @media screen and (min-width: 112.5em) {
      @content;
    } // 1800px
  } @else if $breakpoint == "tab-land" {
    @media screen and (max-width: 75.25em) {
      @content;
    } // 900 - 1200px
  } @else if $breakpoint == "big-tab-port" {
    @media screen and (max-width: 62.5em) {
      @content;
    } // 900 - 1000px

  }@else if $breakpoint == "tab-port" {
    @media screen and (max-width: 56.25em) {
      @content;
    } // 600 - 900px
  } @else if $breakpoint == "phone" {
    @media screen and (max-width: 37.5em) {
      @content;
    } // 0 - 600px
  } @else if $breakpoint == "small-phone" {
    @media screen and (max-width: 30em) {
      @content;
    } // 0 - 480px
  } @else {
    // Fallback for invalid arguments
    @warn "Invalid device argument '#{$device}' provided to respond mixin. No styles generated.";
  }
}

