body{
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.heading__primary-1{
  font-size: 4.5rem;
  font-weight: 400;
  color: $color-grey-light-1 ;
  line-height: 1;
}
.heading__primary-2{
  font-size: 4rem;
  font-weight: 400;
  color: $color-grey-dark-1 ;
  line-height: 1;
}
.heading__primary-3{
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-primary;
}

.heading__primary-4{
  font-size: 2rem;
  font-weight: 400;
  color: $color-grey-dark-1 ;

  &-light{
    color:$color-grey-light-1;
  }
}
.heading__primary-5{
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-grey-dark-1 ;
}